
<script src="/javascripts/users.js"></script>

<div class="container padbottom">
	<div id="content">
		<div id="mainhead" style="margin-bottom:0;">Forgot Password</div>
		<hr class="headingunderline">

		<div style="border:1px solid lightgrey;border-radius:10px;background-color:#eee;padding:10px 20px 20px 20px;">
			<p>email address<br><input type="text" name="email" id="email" style="background-color:white;width:400px;height:30px;border:1px solid lightgrey;border-radius:5px;"></p></br>
			<center><button class="subbut" id="login" onclick="forgotpassword('{{ protocol }}', '{{ domain }}', '{{ path }}');">Submit</button></center>
		</div>

		<div class="clearit"></div>
		<br><br>

		<div style="color: #555">If you have any issues please email:<a href="mailto:{{mailto}}?subject={{mailtosubject}}">{{mailto}}</a></div>
		<br>
		<br>
	</div>
</div>
